 <ul id="sidebar_menu" class="sidebar-nav">
         <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="fa fa-bars"></span></a></li>
    </ul>
      <ul class="sidebar-nav" id="sidebar">  
           
        <li><a  routerLink="/users" routerLinkActive="active">Users<span class="sub_icon fa fa-user"></span></a></li>
        <li><a  routerLink="/comments">Comments<span class="sub_icon fa fa-comments"></span></a></li>
        <li><a  routerLink="/add">Add User<span class="sub_icon fa fa-plus"></span></a></li>
      </ul>